body{
    font-family: 'Poppins', sans-serif;
}
.half-width{
    width: 50%;
    margin-left: 10%;
}
.first-container{
    display: flex;
}
span{
    color: orangered;
}
.padding{
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}
.link-button{
    color: turquoise;
    font-weight: 800;
    text-decoration: none;
    background-image: linear-gradient(tomato,orangered);
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px greenyellow;
}