body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.half-width{
    width: 50%;
    margin-left: 10%;
    
}
.container{
    display: flex;
    margin-bottom: 200px;
}
span{
    color: orangered;
}
.padding-one{
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}
.link-button{
    color: greenyellow;
    font-weight: 800;
    text-decoration: none;
    background-image: linear-gradient(tomato,orangered);
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px greenyellow;
}
.picture{
    width: 50%;
}
.picture img{
    width: 50%;
    margin-left: 20%;
}
.padding-two{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    
}
.container-two{
    display: flex;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.center{
    color: #681313;
    text-align: center;
    margin: 2% 30%;
}
.container-three{
    display: flex;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: ;
}
.third-width{
    width: 33.33%;
    background-image: linear-gradient(white,lightcyan);
    box-shadow: 10px 10px 100px lightcyan;
    border: 10px solid red;
    margin-right: 50px;
    padding: 15px;
}
.third-width img{
    width: 500px;
    height: 400px;
}